////////////////////////////////////////////
///// 		BENEFITS
///////////////////////////////////////////////

section.benefits {
	background: $benefitColourBack;
	& div.benefitZone {
		width: 100%;
		@include flexboxSettings041715a;

		// each benefit entry
		& .benefit {
			// if you want to create a flexible gallery like you would if you were using a grid system you must add auto to flex: 1 to create flex: 1 auto;
			// you also need to set a max-width for flex auto to work
			// flex: 1;
			// flex: 1 auto;
			// max-width: 25%;
			flex: 1;
			@include flexboxSettings042215a;
			@include sectionPadding041515(7%,7%);
			& span.fa {
				color: $benefitColourIcon;
				background: $benefitColourIconBack;
				padding: 5%;
				border-radius: 50%;
				text-align: center;
				font-size: $basefontsize;
				@include transitionEffectAllEaseOut(0.4s);
				&:hover {
					font-size: $basefontsize*2;
					border: 3px solid $benefitColourIconBack;
					background: transparent;
					color: $benefitColourIconBack;
				}
			}
			& h3 {
				font-size: $benefitFontSizeHeader;
				@include sectionMargins041515(21%,13%);
			}
			& p {
				$benefitTextPadding: 7%;
				font-size: $benefitFontSize;
				text-align: center;
				padding: 0 $benefitTextPadding 0 $benefitTextPadding;
				color: $baseFontColor4;
			}
		}
	}
}

/////////////////////////////////////////////