////////////////////////////////////////////
///// 		LATEST BLOG POSTS
///////////////////////////////////////////////

section.blogLatest {
	@include sectionPadding041515(5%,5%);
	background: $blogColourBack;
	width: 100%;
	
	h2 {
		font-size: $blogFontSizeHeader;
		text-align: center;
		margin-bottom: 1.5%;
	}
	h3 {
		font-size: $blogFontSizeHeader2;
		text-align: center;
		margin-bottom: 5%;
	}
	p {
		font-size: $blogFontSize;
	}

	section.postPanel {
		@include flexboxSettings041715a;
		justify-content: space-around;
		align-content: space-around;
		align-items: space-around;
	}

	section.postEntryTease {
		flex: 1 auto;
		// to create the correct horizonal x axis spacing you must use the classic width reduction when applying margin
		width: 48%;
		margin-left: 1%;
		margin-right: 1%;
		@include flexboxSettings041715a;
		justify-content: center;
		align-content:center;
		align-items:flex-start;
		margin-bottom: 3%;
		background: $blogEntryBack;
	}

	// LEFT SIDE IMAGE

	div.image {
		margin:0;
		padding:0;
		flex: 1 auto;
		width: 50%;
		position: relative;
		// background-image: url('http://lorempixel.com/250/300');
		// background-repeat: no-repeat;
		// background-size: cover;
		img {
			margin:0;
			padding:0;
			display: inline-block;
			// max-width: 100%;
			width:100%;
			// position: absolute;
			// top:0;
			// bottom:0;
			// right:0;
			// left:0;
			// overflow:hidden;
		}

		// VIDEO
		div.playZone {
			position: absolute;
			top:0;
			bottom:0;
			right:0;
			left:0;
			width: 100%;
			@include flexboxSettings041715a;
			justify-content:center;
			align-content:center;
			align-items:center;
			 	span.fa {
				display: inline-block;
				// position: absolute;
				color: $blogColourButton;
				background: $blogColourButtonVideoPlay;
				text-align: center;
				padding: 5%;
				border-radius: 50%;
				// @include flexboxSettings041715a;
				// justify-content:center;
				// align-content:center;
				// align-items:center;
				@include transitionEffectAllEaseOut(0.4s);
				&:hover {
					background:$blogColourButtonHover1;
					color: $blogColourButtonVideoHover;
				}
				&:before {
					// used the padding here to center the bloody Font Awesome icon within the span
					padding-left: 20%;
				}
			}
		}

		// IMAGE GALLERY
		div.galleryNav {
			position: absolute;
			top:0;
			bottom:0;
			right:0;
			left:0;
			span.fa {
				display: inline-block;
				// position: absolute;
			}
		}

		// BUTTON PANEL
		div.buttonPanel {
			position: absolute;
			bottom: 5%;
			// stretch the panel across the bottom, from side to side, providing space
			width: 100%;
			// center everything
			text-align: center;
		}

		div.buttonPanel button {
			border: 0;
			text-transform: uppercase;
			font-size: $blogFontSize;
			font-family: $blogFontFamily;
			padding: 2% 5% 2% 5%;
			border-radius: 20px;
			@include transitionEffectAllEaseOut(0.4s);
			&.comments {
				color: $blogColourButton;
				background: $blogColourButtonBackComments;
				@include beforeAfterIconPlace042215a('');
				&::before {
					@include beforeAfterIconPlace042215a('\f075');
					margin:0px 5px 0px 0px;
				}
				&:hover {
					background: darken($blogColourButtonBackComments,20%);
				}
			}
			&.likes {
				color: $blogColourButton;
				background: $blogColourButtonBackFavourites;
				margin-right: 3%;
				&::before {
					@include beforeAfterIconPlace042215a('\f004');
					margin:0px 5px 0px 0px;
				}
				&:hover {
					background: darken($blogColourButtonBackFavourites,20%);
				}
			}
			&.share {
				color: $blogColourButton;
				background: $blogColourButtonBackShare;
				&::before {
					@include beforeAfterIconPlace042215a('\f064');
					margin:0px 5px 0px 0px;
				}
				&:hover {
					background: darken($blogColourButtonBackShare,20%);
				}
			}
		}
	}

	// RIGHT SIDE COPY

	& div.copy {
		flex: 1 auto;
		width: 50%;
		background: $blogEntryBack;
		padding: 5%;
		& h3 {
			text-align: left;
			margin-bottom: 3%;
		}
		& div.meta {
			margin:0;
			padding:0;
			margin-bottom: 5%;
			@include flexboxSettings041715a;
			justify-content: flex-start;
			// align-items: flex-start;
			& p {
				flex: 1 auto;
				display: inline-block;
				margin: 0;
				padding: 0;
			}
			& p.author {
				// @include beforeAfterIconPlace042215a('|');
				color: $blogColourHeader;
				border-right: 1px solid lighten($blogColourHeader,90%);
			}
			& p.date {
				padding-left: 10%;
			}
		}
	}
}

/////////////////////////////////////////////