////////////////////////////////////////////
///// 		LOGO
///////////////////////////////////////////////

aside.logo042215a {
	margin: 0;
	padding: 0;
	width: auto;
	height: auto;
	& h2 {
		display: inline-block;
		margin: 0;
		padding: 0;
		background: transparent;
		// border: 3px solid black;
		border: 3px solid $logoColour;
		width: 9em;
		padding: 0.5% 0.5%;
		text-align: center;
		text-transform: uppercase;
		font-family: $basefontfamilyHeader;
		// color: black;
		color: $logoColour;
		@include transitionEffectAllEaseOut(0.3s);
		&:hover {
			color: $logoColourHover;
			border: 3px solid $logoColourHover;
		}
	}
}

/////////////////////////////////////////////