////////////////////////////////////////////
///// 		MIXINS GLOBAL
///////////////////////////////////////////////

// all mixins that are not universal ones... that are specific to this project are placed here
// don't forget to include the $ in front of the variables

@mixin flexboxSettings041615a {
	// ROW
	// this must be used within a parent element
	// the div.flexbox must be used or some sort of wrapping parent element
	// the class .flexbox must have already been applied
	& .flexbox {
		display: flex;
		flex-flow: row wrap;
		justify-content: space-around;
		align-content: center;
		align-items: center;
	}
}

@mixin flexboxSettings041715a {
	// ROW
	// this is used within a parent without the class .flexbox... the actual class name used will vary
	display: flex;
	flex-flow: row wrap;
	justify-content: space-around;
	align-content: center;
	align-items: center;
}

@mixin flexboxSettings042215a {
	// COLUMN
	// this is used within a parent without the class .flexbox... the actual class name used will vary
	display: flex;
	flex-flow: column;
	justify-content: space-around;
	align-content: center;
	// align-items:  flex-start, center, flex-end
	align-items: center;
}

@mixin sectionMargins041515($marginTop, $marginBottom) {
	// TOP AND BOTTOM
	// where arguments are a value in px, em or %
	margin-top: $marginTop;
	margin-bottom: $marginBottom;
}

@mixin sectionPadding041515($padTop, $padBottom) {
	// TOP AND BOTTOM
	// where arguments are a value in px, em or %
	padding-top: $padTop;
	padding-bottom: $padBottom;
}

@mixin beforeAfterIconPlace042215a($content) {
	// this must be placed with a ::before or ::after selector block
	// $content must be a string... in the form of '\f01d'
	// what will change each time you use it is the Unicode for content: ''

	// to make this work you have to use the FontAwesome font and the content must be the icon's Unicode (available at FA's website)
	// http://stackoverflow.com/questions/18793428/put-an-icon-after-list-item-with-after-and-font-awesome
	content: $content;
	font-family: FontAwesome;
	font-weight: normal;
	font-style: normal;
	margin:0px 10px 0px 0px;
	text-decoration:none;
}

@mixin projectButtonStyle042115a ($colour,$background,$backHover) {
	// used for <a> anchor elements or <button> elements... 
	// insert within the SCSS code
	display: inline-block;
	margin: 0;
	padding: 0;
	width: auto;
	margin-top: 5%;
	background: $background;
	color: $colour;
	padding: 1.5% 5% 1.5% 5%;
	text-transform: uppercase;
	@include transitionEffectAllEaseOut(0.4s);
	// new adds
	font-family: $basefontfamilyButton;
	&:hover {
		background: $backHover;
	}
}

@mixin projectIconStyle042315a ($colour,$background,$marginLeft,$marginRight,$fontsize,$backHover) {
	// since this one requires margin arguments it's a bit more trouble to use
	// this is applied to span.fa
	border-radius: 50%;
	color: $colour;
	background: $background;
	padding: 6%;
	margin-left: $marginLeft;
	margin-right: $marginRight;
	font-size: $fontsize;
	@include transitionEffectAllEaseOut(0.3s);
	&:hover {
		background: $backHover;
	}
}

@mixin projectIconStyle042315b ($colour,$background,$fontsize,$backHover) {
	// this is applied to span.fa
	border-radius: 50%;
	color: $colour;
	background: $background;
	padding: 6%;
	// margin-left: $marginLeft;
	// margin-right: $marginRight;
	font-size: $fontsize;
	@include transitionEffectAllEaseOut(0.3s);
	&:hover {
		background: $backHover;
	}
}

@mixin topLeftGradient042515a ($colourStart,$colourFinish) {
	// FROM BOTTOM RIGHT TO TOP LEFT
	// /* Note: This gradient may render differently in browsers that don't support the unprefixed gradient syntax */

	// /* IE10 Consumer Preview */ 
	background-image: -ms-linear-gradient(bottom right, $colourStart 0%, $colourFinish 100%);

	// /* Mozilla Firefox */ 
	background-image: -moz-linear-gradient(bottom right, $colourStart 0%, $colourFinish 100%);

	// /* Opera */ 
	background-image: -o-linear-gradient(bottom right, $colourStart 0%, $colourFinish 100%);

	// /* Webkit (Safari/Chrome 10) */ 
	background-image: -webkit-gradient(linear, right bottom, left top, color-stop(0, $colourStart), color-stop(1, $colourFinish));

	// /* Webkit (Chrome 11+) */ 
	background-image: -webkit-linear-gradient(bottom right, $colourStart 0%, $colourFinish 100%);

	// /* W3C Markup, IE10 Release Preview */ 
	background-image: linear-gradient(to top left, $colourStart 0%, $colourFinish 100%);
}

// NAV MENU  ------------------------------------------------
@mixin navStylingForMidnight ($colour) {
	$navmenuMidnightBorder: 1px solid lighten($colour,15%);
	border-bottom: $navmenuMidnightBorder;
	margin: 0;
	padding: 0;
	// for testing
	// background: lightgrey;
	position: fixed;
	width: 100%;
	z-index: 900;
	& .flexbox {
		@include flexboxSettings041715a;
		color: $colour;
	}
	& div.logo, div.menu, div.icons {
		padding-bottom: $navDivPadding;
		padding-top: $navDivPadding;
		text-transform: uppercase;
	}
	& div.menu, div.icons {
		font-family: $navfontfamily;
		font-size: $navfontsize;
	}
	& div.logo {
		flex: 1;
		// border-right: $navmenuborder;
		@include flexboxSettings041715a;
		justify-content: flex-end;
		padding-right: 6%;
		// @include column(2);
		padding: 2.5% 6% 3% 0;
		
		// ADJUST THE COMPANY LOGO COLOUR AS WELL
		& aside.logo042215a h2 {
			color: $colour;
			border: 3px solid $colour;
		}
	}
	& div.menu {
		flex: 2;
		// border-right: $navmenuMidnightBorder;
		// border-left: $navmenuMidnightBorder;
		@include flexboxSettings041715a;
		justify-content: flex-end;
		// @include column(8);
		& ul {
			@include flexboxSettings041715a;
			justify-content: flex-end;
			width: auto;
			& a {
				color: inherit;
				padding: 1% 20% 1% 20%;
				font-size: $navfontsize;
				font-weight: bold;
				letter-spacing: 1px;
				@include transitionEffectAllEaseOut(0.3s);
				&:hover {
					color: $navcolourlinkhover;
				}
			}
		}
		font-size: $navfontsize;
	}
	& div.icons {
		flex: 1;
		border-left: $navmenuMidnightBorder;
		@include flexboxSettings041715a;
		justify-content: flex-start;
		// @include column(2);
		padding-left: 2.5%;
		margin-left: 5%;
		padding-top: 2.25%;
		& span.fa {
			border-radius: 50%;
			color: $navcolouricon;
			background: $navcolouriconback;
			padding: 6%;
			margin-left: $navIconSpacing;
			margin-right: $navIconSpacing;
			font-size: $navfontsize;
			@include transitionEffectAllEaseOut(0.3s);
			&:hover {
				background: $navcolouriconbackhover;
			}
		}
	}
}

@mixin navStylingForMidnightV2 ($backgroundSelectColour) {
	border-bottom: $navmenuborder;
	margin: 0;
	padding: 0;
	// for testing
	// background: lightgrey;
	position: fixed;
	width: 100%;
	z-index: 900;
	background: $backgroundSelectColour;
	& .flexbox {
		@include flexboxSettings041715a;
		color: $navmenucolour;
	}
	& div.logo, div.menu, div.icons {
		padding-bottom: $navDivPadding;
		padding-top: $navDivPadding;
		text-transform: uppercase;
	}
	& div.menu, div.icons {
		font-family: $navfontfamily;
		font-size: $navfontsize;
	}
	& div.logo {
		flex-grow: 1;
		// border-right: $navmenuborder;
		@include flexboxSettings041715a;
		justify-content: flex-end;
		padding-right: 6%;
		// @include column(2);
		border-right: $navmenuborder;
		padding: 2.5% 6% 3% 0;
	}
	& div.menu {
		flex-grow: 2;
		// border-right: $navmenuborder;
		// border-left: $navmenuborder;
		@include flexboxSettings041715a;
		justify-content: flex-end;
		// @include column(8);
		& ul {
			@include flexboxSettings041715a;
			justify-content: flex-end;
			width: auto;
			& a {
				color: inherit;
				padding: 1% 20% 1% 20%;
				font-size: $navfontsize;
				font-weight: bold;
				letter-spacing: 1px;
				@include transitionEffectAllEaseOut(0.3s);
				&:hover {
					color: $navcolourlinkhover;
				}
			}
		}
		font-size: $navfontsize;
	}
	& div.icons {
		flex-grow: 1;
		border-left: $navmenuborder;
		@include flexboxSettings041715a;
		justify-content: flex-start;
		// @include column(2);
		padding-left: 2.5%;
		margin-left: 5%;
		padding-top: 2.25%;
		& span.fa {
			border-radius: 50%;
			color: $navcolouricon;
			background: $navcolouriconback;
			padding: 6%;
			margin-left: $navIconSpacing;
			margin-right: $navIconSpacing;
			font-size: $navfontsize;
			@include transitionEffectAllEaseOut(0.3s);
			&:hover {
				background: $navcolouriconbackhover;
			}
		}
	}
}
// // END NAV MENU ------------------------------------------------


// TITLE BLOCK  ------------------------------------------------
@mixin titleBlockShaderGradient042215a($colourStart,$colourEnd) {
	// FROM BOTTOM LEFT TO TOP RIGHT
	// /* Note: This gradient may render differently in browsers that don't support the unprefixed gradient syntax */

	// /* IE10 Consumer Preview */ 
	background-image: -ms-linear-gradient(bottom left, $colourStart 0%, $colourEnd 100%);

	// /* Mozilla Firefox */ 
	background-image: -moz-linear-gradient(bottom left, $colourStart 0%, $colourEnd 100%);

	// /* Opera */ 
	background-image: -o-linear-gradient(bottom left, $colourStart 0%, $colourEnd 100%);

	// /* Webkit (Safari/Chrome 10) */ 
	background-image: -webkit-gradient(linear, left bottom, right top, color-stop(0, $colourStart), color-stop(1, $colourEnd));

	// /* Webkit (Chrome 11+) */ 
	background-image: -webkit-linear-gradient(bottom left, $colourStart 0%, $colourEnd 100%);

	// /* W3C Markup, IE10 Release Preview */ 
	background-image: linear-gradient(to top right, $colourStart 0%, $colourEnd 100%);
}

@mixin titleBlockShaderGradient042415a ($colourStart,$colourEnd) {
	// FROM LEFT TO RIGHT
	// /* IE10 Consumer Preview */ 
	background-image: -ms-linear-gradient(left, $colourStart 0%, $colourEnd 100%);

	// /* Mozilla Firefox */ 
	background-image: -moz-linear-gradient(left, $colourStart 0%, $colourEnd 100%);

	// /* Opera */ 
	background-image: -o-linear-gradient(left, $colourStart 0%, $colourEnd 100%);

	// /* Webkit (Safari/Chrome 10) */ 
	background-image: -webkit-gradient(linear, left top, right top, color-stop(0, $colourStart), color-stop(1, $colourEnd));

	// /* Webkit (Chrome 11+) */ 
	background-image: -webkit-linear-gradient(left, $colourStart 0%, $colourEnd 100%);

	// /* W3C Markup, IE10 Release Preview */ 
	background-image: linear-gradient(to right, $colourStart 0%, $colourEnd 100%);
}


// // END TITLE BLOCK ------------------------------------------------

// FEATURES  ------------------------------------------------
@mixin featuresImageCentre042315a {
	position: relative;
	margin:0;
	padding:0;
	
	& .frame {
		position: absolute;
		top:0;
		bottom:0;
		right:0;
		left:0;
	}
	& .copy {
		& h2, h3 {display: block;}
		@include flexboxSettings042215a;
	}
	& img {
		width: 100%;
	}
}

@mixin centreCopyFrameStyle042415a {
	// when not using the original hero image on a phone
	// you must enable div.frame text-align: center;
	background: $phaedraGreen2;
	padding-top: 3%;
	padding-bottom: 3%;
	width: 80%;
	text-align: center;
	border-radius: 5px;
	display: inline-block;
}


// // END FEATURES ------------------------------------------------

// PRICING  ------------------------------------------------
@mixin pricingEntryHeaderV1 ($colour) {
	background: $colour;
	padding: 10%;
	@include flexboxSettings042215a;
	width: 100%;
	border-top-right-radius: 5px;
	border-top-left-radius: 5px;
	h3 {
		color: $pricingColour2;
		margin-bottom: 22%;
	}
	p {
		display: inline;
		font-size: $pricingFontSize;
		color:$pricingColour2;
		position: relative;
	}
	span.dollarSign {
		position: absolute;
		top: -22%;
		left: 6%;
		font-size: $basefontsize*2;

	}
	span.priceValue {
		color:$pricingColour2;
		font-size: $basefontsize*4;
		padding-left: 8%;
	}
	button {
		border: 0;
		background: white;
		border-radius: 5px;
		color: $colour;
		padding: 4% 5% 4% 5%;
		width: 95%;
		@include transitionEffectAllEaseOut(0.4s);
		&:hover {
			background: $phaedraYellow;
		}
	}
}
// // END PRICING ------------------------------------------------




///////////////////////////////////////////////