////////////////////////////////////////////
///// 		NAV MENU
///////////////////////////////////////////////

// VARIABLES  ------------------------------------------------
$navDivPadding: 2%;
$navPaddingMenuButton: 2%;
// // END VARIABLES ------------------------------------------------

nav.mainNav {
	border-bottom: $navmenuborder;
	margin: 0;
	padding: 0;
	// for testing
	// background: lightgrey;
	position: fixed;
	width: 100%;
	z-index: 900;
	& .flexbox {
		@include flexboxSettings041715a;
		color: $navmenucolour;
	}
	& div.logo, div.menu, div.icons {
		padding-bottom: $navDivPadding;
		padding-top: $navDivPadding;
		text-transform: uppercase;
	}
	& div.menu, div.icons {
		font-family: $navfontfamily;
		font-size: $navfontsize;
	}

	// style the logo section
	& div.logo {
		flex: 1;
		border-right: $navmenuborder;
		@include flexboxSettings041715a;
		justify-content: flex-end;
		padding-right: 6%;
		// @include column(2);
		padding: 2.5% 6% 3% 0;

	}

	// style the central menu
	div.menu {
		flex: 2;
		// border-right: $navmenuborder;
		// border-left: $navmenuborder;
		@include flexboxSettings041715a;
		justify-content: flex-end;
		// @include column(8);
		// width: 50%;
		ul {
			@include flexboxSettings041715a;
			justify-content: flex-end;
			width: auto;
			a {
				color: inherit;
				padding: 1% 20% 1% 20%;
				font-size: $navfontsize;
				font-weight: bold;
				letter-spacing: 1px;
				@include transitionEffectAllEaseOut(0.3s);
				&:hover {
					color: $navcolourlinkhover;
				}
			}
			li {
				flex:1 auto;
				width: auto;
			}
			li:last-child {
				// margin-right: 5%;
			}
		}
		font-size: $navfontsize;
	}

	// style the icons section on the right
	& div.icons {
		flex: 1;
		border-left: $navmenuborder;
		@include flexboxSettings041715a;
		justify-content: flex-start;
		// @include column(2);
		padding-left: 2.5%;
		// margin-left: 5%;
		margin-left: 5%;
		padding-top: 2.25%;

		// style the individual icons
		& span.fa {
			border-radius: 50%;
			color: $navcolouricon;
			background: $navcolouriconback;
			padding: 6%;
			margin-left: $navIconSpacing;
			margin-right: $navIconSpacing;
			font-size: $navfontsize;
			text-align: center;
			@include transitionEffectAllEaseOut(0.3s);
			&:hover {
				background: $navcolouriconbackhover;
			}
		}
	}
}

.midnightHeader.blackPower {
	// @include navStylingForMidnight(black);
	@include navStylingForMidnightV2(black);
}

.midnightHeader.blackShade1 {
	// @include navStylingForMidnight(black);
	@include navStylingForMidnightV2($blackShade1);
}

.midnightHeader.phaedraRedShade1 {
	// @include navStylingForMidnight(black);
	@include navStylingForMidnightV2($phaedraRedShade1);
}

.midnightHeader.phaedraGreen3Shade1 {
	// @include navStylingForMidnight(black);
	@include navStylingForMidnightV2($phaedraGreen3Shade1);
}

/////////////////////////////////////////////