////////////////////////////////////////////
///// 		PORTFOLIO - 2 COLUMNS
///////////////////////////////////////////////

// for portfolio.jade
// for portfolio.html

section#portfolio2col {
	background: $portfolioColourBack;
	@include sectionPadding041515(7%,7%);
	h2 {
		text-align: center;
		font-size: $portfolioFontSizeHeader;
		text-transform: uppercase;
	}
	p {
		text-align: center;
		font-size: $portfolioFontSize;
		color: $portfolioColour;
	}
	div.portfolioGallery {
		width: 100%;
		@include flexboxSettings041715a;
		margin-top: 3%;
	}
}

section#portfolio2col section.portfolioUnit {
	// if I don't apply flex: 1 then the portfolio blocks align themselves in thirds all by themselves
	// applying @include column(4) also didn't work either
	// flex: 1;
	margin-bottom: 3%;
	

	// FLEXBOX
	// what if I set the spacing using flex for child... flex: 1 auto for the unit?
	// use flexbox to make this double column
	flex: 1 auto;
	// subtract double the margin from the width
	width: 48%;
	margin-right: 2%;

	.imgShaderBox {
		position: relative;
		& img {
			width: 100%;
		}
	}

	.imgShaderScreen1 {
		position: absolute;
		
		top:0;
		bottom:0;
		right:0;
		left:0;
		background: $portfolioColourShaderBack;
		@include flexboxSettings041715a;
		display: none;
		// you would use jQuery to enable display:flex which should make it appear

		span.fa {
			font-size: $portfolioShaderIconSize;
			color: $portfolioColourShader;
		}
	}

	.meta {
		margin: 0;
		padding: 0;
		@include flexboxSettings041715a;
		a {
			font-size: $portfolioFontSize;
			color: $portfolioColour;
		}
	}

	.meta div.metatags {
		@include column(10);
		margin: 0;
		padding: 0;
		margin-top: 5%;
		// @include flexboxSettings042215a;
		// justify-content: flex-start;
		// align-items: flex-start;
		.title {
			color: $portfolioColour2;
			display: block;
		}
		.category {
			margin-top: 1.5%;
			display: block;
		}
	}

	.meta div.favourites {
		@include column(2);
		margin: 0;
		padding: 0;
		// @include flexboxSettings042215a;
		// justify-content: flex-end;
		// align-items: flex-end;
		text-align: right;
		.favourites {
			&::before {
				@include beforeAfterIconPlace042215a('\f08a');
				margin:0px 5px 0px 0px;
				font-size: $portfolioFontSize;
				color: $portfolioColour;
			}
		}
	}
}

ul.portfolioNavigation1 {
	@include flexboxSettings041715a;
	justify-content: flex-start;
	align-content: flex-start;
	li {
		// flex: 1 auto;
		width: auto;
		font-size: $portfolioNavFontSize;
		color: $portfolioNavFontColourList;
	}

	li:first-child {
		margin-right: 1.5%;
	}

	li a {
		// placing the flex: 1 auto on the a works as well and the spacing isn't as much... even though I didn't apply flexbox to the parent <li>
		// flex: 1 auto;
		font-size: $portfolioNavFontSize;
		color: $portfolioNavFontColourLink;
		// margin: 0 2% 0 2%;
		// padding: 1% 2% 1% 2%;
		padding: 4%;
		// background: blue;
		margin-right: 20%;
		@include transitionEffectAllEaseOut(0.4s);
		&:hover {
			color: $portfolioNavFontColourHover;
		}
	}

	// you must count the ul as n=0
	li:nth-child(2) a {
		//- use jQuery to change CSS such that when a link is clicked its colour changes... when you click another button all the colours reset
		// the "All" link should have the default portfolio nav hover colour
		margin-right: 51%;
		// background: blue;
		color: $portfolioNavFontColourHover;
	}

	li:nth-child(5) a, li:nth-child(6) a, li:nth-child(7) a, li:nth-child(8) a {
		margin-right: 39%;
		// background: red;
	}

	// a:first-child {
	// 	margin-right: 33%;
	// }
}

/////////////////////////////////////////////