////////////////////////////////////////////
///// 		HEADING
///////////////////////////////////////////////

section.pricing {
	@include sectionPadding041515(5%,5%);
	font-size: $pricingFontSize;
	// want them line up in a column
	@include flexboxSettings042215a;
	h2 {
		font-size: $pricingFontSizeHeader;
		color: $pricingColourHeader;
		margin-bottom: 1.5%;
		&:first-child {
			text-align: center;
		}
	}
	h3 {
		font-size: $pricingFontSizeHeader2;
		color: $pricingColour;
		text-align: center;
	}

	section.tables {
		margin-top: 8%;
		// want them line up in a row
		@include flexboxSettings041715a;
		justify-content:space-between;
		align-content:space-between;
		align-items:space-between;	

	}

	div.pricingEntry {
		flex: 1 auto;
		border: $pricingBorder;
		border-radius: 5px;
		// want them line up in a column
		@include flexboxSettings042215a;
		width: 20em;
		margin-left: 1em;
	}

	div.pricingEntry p {
		width: 100%;
		text-align: center;
	}

	header {
		// set all widths to 100% so that you have space to work with
		width: 100%;
	}

	header.Standard {
		@include pricingEntryHeaderV1($pricingColourStandard);
	}
	header.Premium {
		// background: $pricingColourPremium;
		@include pricingEntryHeaderV1($pricingColourPremium);
	}
	header.Ultimate {
		// background: $pricingColourUltimate;
		@include pricingEntryHeaderV1($pricingColourUltimate);
		
	}

	section.copy {
		h3 {
			margin-top: 10%;
			margin-bottom: 10%;
		}
		li {
			margin-bottom: 10%;
		}
	}

	section.copy ul.bullets {
		@include flexboxSettings042215a;
		color: $pricingColour;
	}
	
}

/////////////////////////////////////////////