////////////////////////////////////////////
///// 		SERVICES OFFERED 1
///////////////////////////////////////////////

// for services.jade

section.servicesOffer1 {
	background: white;
	@include sectionPadding041515(5%,5%);

	.wrapper {
		// apply flexbox
		@include flexboxSettings041715a;
	}

	section.serviceUnit1 {
		// flex child modification
		flex:1 auto;
		width: 47%;
		margin-right: 3%;
		// apply flexbox
		@include flexboxSettings042215a;
		align-items:flex-start;

		img {
			// need to increase the base image size to be large enough to exceed the containing element sufficiently
			max-width: 100%;
			margin-bottom: 5%;
		}

		h2 {
			margin-bottom: 5%;
			font-size: $basefontsize*1.1;
		}

		p {
			margin-bottom: 5%;
			color: grey;
			font-size: $serviceDisplayFontSize;
		}

		a {
			font-size: $serviceDisplayFontSize;
			color: $phaedraGreen3;
			font-family: $montserrat;
			@include transitionEffectAllEaseOut(0.4s);
		}

		a:hover {
			color: $phaedraRed;
		}

		a::after {
			@include beforeAfterIconPlace042215a('\f105');
			border-radius: 50%;
			color: $phaedraGreen3;
			border: 1px solid $phaedraGreen3;
			// width:1em;
			// height: 1em;
			padding:1% 5% 1% 7%;
			margin:0px 0px 0px 5px;
		}

		a:hover ~ a::after {
			color: $phaedraRed;
			border: 1px solid $phaedraRed;
		}

		a::after:hover {
			color: $phaedraRed;
			border: 1px solid $phaedraRed;
		}

	}
}

///////////////////////////////////////////////