////////////////////////////////////////////
// 		TITLE BLOCK
////////////////////////////////////////////

section.titleBlock {
	// what if you move the background-image and height to the .imageShader?
	background-image: $titleblockbackimage;
	background-size: cover;
	// using the viewport height means that it re-sizes based on the current height of the window of the user's browser... if that changes so does this
	height: 97vh;
	position: relative;
	z-index: 5;
	// opacity: 0.5;
	padding-bottom: 5%;

	.imageShader {
		position: absolute;
		// background-image: url(http://lorempixel.com/1400/700);
		// background-size: cover;
		// height: 97vh;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		// background: $titleblockshader;
		z-index: 7;
		// background gradient
		// @include titleBlockShaderGradient042215a($phaedraRedShade1,$phaedraYellowShade1);
		@include titleBlockShaderGradient042215a($phaedraRedShade1,$phaedraGreen3Shade1);
		// height: 97vh;
	}

	.wrapper {
		position: relative;
		z-index: 15;

		@include flexboxSettings041715a;
		flex-flow: column;
		justify-content: flex-start;
		align-content: flex-start;
		align-items: flex-end;
		padding-top: 12%;
	}

	.outer {
		// you can also hook this to the section as you did with .image shader however it needs to be higher z-index
		position: absolute;
		top: 0;
		bottom: 0;
		right: 0;
		left: 0;
		
		// z-index: 20;
		height: 97vh;
	}

	.copy {
		width: auto;
		padding-right: 25%;
		// height: 97vh;
		// background: $blackShade1;
		position: relative;
		z-index: 25;
	}

	h1, h2, span.fa {
		color: $titleblockcolour;
	}
	h1, h2 {
		display: block;
		margin: 0;
		padding: 0;
		width: 100%;
		margin-bottom: 5%;
		text-shadow:0 0 10px #203A8B;
	}
	h1 {
		font-size: $titleblockFontSizeHeader1;
		text-transform: uppercase;
		span {
			font-size: inherit;
			text-transform: uppercase;
			color: red;
			font-family: inherit;
		}
	}
	
	h2 {
		font-size: $titleblockFontSizeHeader2;
		font-style: italic;

		span {
			font-size: inherit;
			font-style: inherit;
			color: red;
			font-family: inherit;
		}
	}
	.copy a {
		width: auto;
		height: auto;
	}

	.copy span.fa {
		font-size: $titleblockFontSizeIcon;
		border: 2px solid $titleBlockColourIconBorder;
		padding: 0 1% 0 1%;
		@include transitionEffectAllEaseOut(0.3s);
		&:hover {
			color: $titleBlockColourIconHover;
			border: 2px solid $titleBlockColourIconBorderHover;
		}
	}
}


///////////////////////////////////////