////////////////////////////////////////////
// 		SETUP STUFF
////////////////////////////////////////////


////////////////////////////////////////////
// 		IMPORTS
////////////////////////////////////////////


////////////////////////////////////////////
// 		VARIABLES
////////////////////////////////////////////

// FONTS  ------------------------------------------------
// for headers
$montserrat: 'Montserrat', sans-serif;
// for text
$lora: 'Lora', serif;
// // END FONTS ------------------------------------------------

// COLOURS  ------------------------------------------------
// colours must go before the base

$titleBlockTransparency: 0.6;
$featuresTransparency: 0.9;

$phaedraRed:rgba(255, 66, 16,1);
$phaedraRedShade1:rgba(255, 66, 16,$titleBlockTransparency);
$phaedraRedShade2:rgba(255, 66, 16,$featuresTransparency);
$phaedraYellow:rgba(251, 255, 152,1);
$phaedraYellowShade1:rgba(251, 255, 152,$titleBlockTransparency);
$phaedraGreen1:rgba(175, 243, 158,1);
$phaedraGreen2:rgba(96, 196, 144,1);
$phaedraGreen3:rgba(0, 171, 138,1);
$phaedraGreen3Shade1:rgba(0, 171, 138,$titleBlockTransparency);
$belizeHole: rgba(41, 128, 185,1.0);
$peterRiver: rgba(52, 152, 219,1.0);

$blackShade1: rgba(0, 0, 0,$titleBlockTransparency);

// // END COLOURS ------------------------------------------------


// BASE  ------------------------------------------------

// NOTE:  the font family has been placed on all elements for the base and header... see style.scss
$basefontfamily:$lora;
$basefontfamilyHeader: $montserrat;
$basefontfamilyButton: $montserrat;

$basefontsize:16px;
$baselineheight:16px;
$baseFontColor: white;
$baseFontColor2: lightgrey;
$baseFontColorHeader: black;
$baseHoverColor: $phaedraRed;
$basebackcolor: lightblue;

// END BASE ------------------------------------------------



// LOGO  ------------------------------------------------
$logoColour: $baseFontColor;
$logoFontFamily: $montserrat;
$logoColourHover: $phaedraRed;
// // END LOGO ------------------------------------------------

// NAV MENU MAIN  ------------------------------------------------
$navmenucolour: $baseFontColor;
$navmenuborder: 1px solid lighten($baseFontColor2,15%);
$navfontsize: $basefontsize*0.6;

// $navfontfamily: $lora;
$navfontfamily: $montserrat;

$navcolourlinkhover: $phaedraRed;

// icon
$navcolouricon: $baseFontColor;
$navcolouriconback: $phaedraGreen3;
$navcolouriconbackhover: $phaedraRed;
$navIconSpacing: 5%;

$navcolourAbout: black;
$navmenuborder: 1px solid lighten($baseFontColor2,15%);

// // END NAV MENU MAIN ------------------------------------------------

// TITLE BLOCK  ------------------------------------------------
$titleblockcolour: $baseFontColor;
// the shader must use a lower opacity alpha channel
$titleblockshader: rgba(251, 255, 152,0.6);
// $titleblockshader: red;
$titleblockbackimage: url(http://lorempixel.com/1400/700);

$titleblockFontSizeIcon: $basefontsize*2;
$titleblockFontSizeHeader1:$basefontsize*4.5;
$titleblockFontSizeHeader2: $basefontsize*1.3;

// $titleBlockColourIconHover: $phaedraGreen3;
$titleBlockColourIconHover: $phaedraRed;
$titleBlockColourIconBorder: $baseFontColor;
$titleBlockColourIconBorderHover: $titleBlockColourIconHover;

// // END TITLE BLOCK ------------------------------------------------

// ABOUT US  ------------------------------------------------
// $aboutColour: $baseFontColor2;
$aboutColour: darken($baseFontColor2,20%);
$aboutColourHeader: $baseFontColorHeader;
$aboutColourBack: $baseFontColor;

$aboutFontSize: $basefontsize*0.7;

// button
$aboutColourButton: $baseFontColor;
$aboutColourBackButton: $phaedraGreen3;
$aboutColourBackButtonHover: $phaedraRed;
$aboutColourButton: $baseFontColor;
$aboutColourButtonShadow: $phaedraYellow;
$aboutFontFamilyButton: $basefontfamilyHeader;

// // END ABOUT US ------------------------------------------------

// BENEFITS  ------------------------------------------------
$benefitColour: $baseFontColor2;
$benefitColourBack: $phaedraGreen1;
$benefitColourHeader: $baseFontColorHeader;

$benefitFontSize: $basefontsize*0.7;
$benefitFontSizeHeader: $basefontsize*0.8;

// icons
$benefitColourIcon: $baseFontColor;
$benefitColourIconBack: $phaedraGreen3;
// $benefitColourIconBack: darken($phaedraGreen3,25%);
$benefitColourIconHover: $baseFontColor;
$benefitColourIconHoverBack: $phaedraRed;

//borders
$benefitBorder: 5px solid transparent;
$benefitBorderHover: 5px solid $phaedraGreen3;
// // END BENEFITS ------------------------------------------------

// PORTFOLIO  ------------------------------------------------
// $portfolioColour: $baseFontColor2;
$portfolioColour: darken($baseFontColor2,15%);
$portfolioColour2: black;
$portfolioColourBack: $baseFontColor;
$portfolioColourHeader: $baseFontColorHeader;

$portfolioFontSize:$basefontsize*0.7;
$portfolioFontSizeHeader:$basefontsize*1.2;

// shader
$portfolioColourShader: $baseFontColor2;
$portfolioColourShaderBack: $phaedraRedShade1;
$portfolioShaderIconSize:$basefontsize*3.7;

// // END PORTFOLIO ------------------------------------------------

// FEATURES  ------------------------------------------------
$featuresColour: $baseFontColor2;
$featuresColourBack: $phaedraGreen2;
$featuresColourHeader: $baseFontColor;

//background image
$featuresBackImage: url('http://lorempixel.com/1400/700');

//shader
// $featuresShader: $phaedraGreen3Shade1;
$featuresShader: $phaedraRedShade2;

//icon
$featuresColourIcon: $baseFontColor;
$featuresColourIconBack: $phaedraGreen3;
$featuresColourIconHover: $phaedraRed;
$featuresColourIconBackHover: white;

//font sizes
$featuresFontSize:$basefontsize*0.7;
$featuresFontSizeHeader:$basefontsize*1.2;

// button
$featuresColourButton: $baseFontColor;
$featuresColourBackButton: $phaedraGreen3;
$featuresColourBackButtonHover: $phaedraRed;
$featuresColourButton: $baseFontColor;
$featuresColourButtonShadow: $phaedraYellow;
$featuresFontFamilyButton: $basefontfamilyHeader;

// // END FEATURES ------------------------------------------------

// CORE FEATURES  ------------------------------------------------
$coreFeatureColour: $baseFontColor2;
$coreFeatureColourBack: $phaedraGreen1;
$coreFeatureColourHeader: $baseFontColorHeader;

//icons
$coreFeatureColourIcon: $phaedraGreen3;

$coreFeatureTopBottomMargin: 5%;

//font sizes
$coreFeaturesFontSize:$basefontsize*0.7;
$coreFeaturesFontSizeHeader:$basefontsize*1.2;
$coreFeaturesFontSizeHeader2:$basefontsize*0.8;

//button
$coreFeatureColourButton: $baseFontColor;
$coreFeatureColourButtonBack: $phaedraGreen3;
$coreFeatureColourButtonBackHover: $phaedraRed;

//border
$coreFeatureBorderImage: $baseFontColor;
$coreFeatureBorder: 5px solid $coreFeatureBorderImage;
// // END CORE FEATURES ------------------------------------------------

// STAFF  ------------------------------------------------
$staffColour: $baseFontColor2;
$staffColourBack: $baseFontColor;
$staffColourHeader: $baseFontColorHeader;
$staffColourHeader2: $phaedraGreen3;

//border
$staffBorder: 1px solid lighten($baseFontColor2,25%);

// font sizes
$staffFontSize:$basefontsize*0.7;
$staffFontSizeHeader:$basefontsize*1.2;
$staffFontSizeHeader2:$basefontsize*0.8;
$staffFontsSizeIcon: $basefontsize*0.7;

//icons
$staffColourIcon: $staffColourBack;
$staffColourIconBack: $phaedraGreen2;
$staffColourIconHover: $phaedraRed;
$staffIconSpanHeightWidth: 2em;
$staffIconMarginLeftRight: 0;
$staffIconFlexJustify: space-between;
// // END STAFF ------------------------------------------------

// PREMIUM WORDPRESS THEME  ------------------------------------------------
$productTeaseColour: $baseFontColor2;
$productTeaseColourBack: $baseFontColor;

//header
$productTeaseColourHeader: $baseFontColorHeader;

//background
$productTeaseColourBack: darken($phaedraYellow,15%);

//icon
$productTeaseColourIcon: $baseFontColor;
$productTeaseColourBackIcon: $phaedraGreen3;
$productTeaseColourIconHover: $phaedraGreen3;
$productTeaseColourBackIconHover: $baseFontColor;

//border
$productTeaseBorder: 0.5em solid $phaedraYellow;
$productTeaseBorderHover: 0.5em solid $phaedraGreen2;

//margins
$productMarginTopBottom: 5;

// font sizes
$productFontSize:$basefontsize*0.7;
$productFontSizeHeader:$basefontsize*1.2;
$productFontSizeHeader2:$basefontsize*0.8;
$productFontsSizeIcon: $basefontsize*0.7;
// // END PREMIUM WORDPRESS THEME ------------------------------------------------

// BLOG  ------------------------------------------------
$blogColour: $baseFontColor2;
$blogColourBack: $phaedraGreen1;
$blogColourHeader: $baseFontColorHeader;

$blogEntryBack: white;

//button
$blogColourButton: $baseFontColor;
$blogFontFamily: $montserrat;

$blogColourButtonBackComments: $belizeHole;
$blogColourButtonBackFavourites: lighten($phaedraRed,15%);
$blogColourButtonBackShare: $phaedraGreen2;

$blogColourButtonBackPrev: white;
$blogColourButtonBackNext: $phaedraGreen3;

$blogColourButtonVideoPlay: $phaedraGreen3;
$blogColourButtonVideoHover: $phaedraYellow;
$blogColourButtonHover1: $phaedraRed;

// font sizes
$blogFontSize:$basefontsize*0.7;
$blogFontSizeHeader:$basefontsize*1.2;
$blogFontSizeHeader2:$basefontsize*0.8;
$blogFontsSizeIcon: $basefontsize*0.7;

// // END BLOG ------------------------------------------------

// PRICING  ------------------------------------------------
$pricingColour: darken($baseFontColor2,15%);
$pricingColour2: $baseFontColor;
$pricingColourHeader: $baseFontColorHeader;

$pricingColourStandard: $phaedraGreen2;
$pricingColourPremium: lighten($peterRiver,20%);
$pricingColourUltimate: lighten($phaedraRed,20%);

//border
$pricingBorder: 1px solid $baseFontColor2;

// font sizes
$pricingFontSize:$basefontsize*0.7;
$pricingFontSizeHeader:$basefontsize*1.2;
$pricingFontSizeHeader2:$basefontsize*0.8;
$pricingFontsSizeIcon: $basefontsize*0.7;
// // END PRICING ------------------------------------------------

// FOOTER  ------------------------------------------------
// $footerColour: $baseFontColor2;
$footerColour: $baseFontColor;
$footerColour2: lighten($baseFontColor2,0);
$footerColourHeader: $baseFontColor;

// $footerColourHover: $phaedraGreen3;
$footerColourHover: $baseFontColor;


//icon
$footerColourIcon: $baseFontColor;
$footerColourIconBack: $phaedraGreen3;
$footerColourIconHover: $phaedraRed;
$footerColourIconBackHover: white;
$footerColourIconTagHover: black;

//background
$footerColourBack1: lighten($phaedraRed,10%);
$footerColourBack2: darken($phaedraRed,15%);

//chevron
// $footerColourChevron: $phaedraGreen3;
$footerColourChevron: $phaedraYellow;

//input fields
$footerColourInput: $phaedraGreen3;

//border
$footerBorder: 1px solid lighten($phaedraYellow,5%);

// font sizes
$footerFontSize:$basefontsize*0.7;
$footerFontSizeHeader:$basefontsize*1.2;
$footerFontSizeHeader2:$basefontsize*0.8;
$footerFontsSizeIcon: $basefontsize*0.7;

// // END FOOTER ------------------------------------------------

////////////////////////////////////////////
///// 		MIXINS
///////////////////////////////////////////////


////////////////////////////////////////////
// 		MAIN CODE
////////////////////////////////////////////

// suggest you build some classes ahead of time which you can assign as required

// I almost always get rid of text decoration so why no just get rid of it by default?
a {
	text-decoration: none;
}

.italicIt {
	font-style: italic;
}

.boldIt {
	font-weight: 900;
}

.yellowHighlight {
	background: yellow;
}

.orangeHighlight {
	background: #ffbe74;
}

.crimsonWords {
	color: red;
}


