html(lang="en")
	head
		block title
		include ./includes/variables.global.041415.1.jade
		include ./includes/mixins.universal.041415.1.jade
		include ./includes/mixins.project.041415.1.jade
		include ./includes/meta.jade
		include ./includes/links.jade
		//- include ./includes/scripts.jade 
	body
		include ./includes/googleCode.jade
		
		block navmenu
			//- this is constant throughout pages
			include ./includes/navmenu.042115.1.jade

		block content
			//- the content will vary with each page... use separate includes instead of blocks here
		
		block footer
			//- this is constant throughout pages
			include ./includes/footer.042115.1.jade

		//- if I want html and css to load first
		include ./includes/scripts.jade 