extends index.layout.030215.1.jade

//- this is the 2 column layout... if any further portfolio layout pages are used they should be named portfolio.3col.jade, etc.

block content
	include ./includes/title.portfolio.042415.1.jade
	include ./includes/portfolio.2col.042415.1.jade