extends index.layout.030215.1.pug

//- this is the 2 column layout... if any further portfolio layout pages are used they should be named portfolio.3col.pug, etc.

block content
	include ./includes/title.services.042515.1.pug
	include ./includes/service.bullets.042515.1.pug
	include ./includes/devices.042515.1.pug
	include ./includes/smooth.scrolling.042515.1.pug
	include ./includes/features.042515.1.pug
	include ./includes/services.offer.042515.1.pug
	include ./includes/proof.elements.042515.1.pug
	include ./includes/services.display.042515.1.pug