////////////////////////////////////////////
// 		ABOUT US
/////////////////////////////////////////

// this version is for the home page

//- I'd make the images block elements as well or surround with divs
//- for all mixins please reference mixins.project.jade

//- data-midnight="your-class"... your class = .blackPower... data-midnight='blackPower'

section(data-midnight='blackShade1').aboutus#aboutus
	.wrapper
		div.flex
			+imgInsertTemplate042215a('http://lorempixel.com/160/313')
			+imgInsertTemplate042215a('http://lorempixel.com/160/313')
			.copy
				h2 Do You Need A "Fixer"?
				p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Expedita nemo dolores, placeat, qui porro iure explicabo deleniti amet voluptate laboriosam harum distinctio molestiae recusandae quas doloremque laudantium officiis sunt quam necessitatibus obcaecati accusantium voluptates, ipsam ab rem! Ea esse aliquid libero unde itaque voluptatem, illo reiciendis cum, tenetur beatae, aut!
				p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Non natus soluta rerum. Repellendus ipsam iure illo harum, dignissimos, provident doloremque nulla ratione possimus quae voluptatibus!
				//- +standardLinkButton041415a('Consult Us','#','aboutCTA','aboutCTA')
				a(href="#", class='aboutCTA',id='') Consult Us

////////////////////////////////////////////