////////////////////////////////////////////
// 		BENEFITS
/////////////////////////////////////////

// a set of benefits for the home page display or elsewhere
//- designed with direct response bullet copy, the images are used to enhance the copy
//- for all mixins please reference mixins.project.jade

//- data-midnight="your-class"... your class = .blackPower... data-midnight='blackPower'

section(data-midnight='phaedraRedShade1').benefits#benefits
	.wrapper
		div.benefitZone
			.benefit.bullet1
				+benefitBullet042115a('fa-desktop','Multi-Purpose')
			.benefit.bullet2
				+benefitBullet042115a('fa-eye','Retina Ready')
			.benefit.bullet3
				+benefitBullet042115a('fa-thumbs-o-up','Modern Design')
			.benefit.bullet4
				+benefitBullet042115a('fa-star','Daily Updates')


////////////////////////////////////////////