////////////////////////////////////////////
// 		BENEFITS
/////////////////////////////////////////

// a set of benefits for the home page display or elsewhere
//- designed with direct response bullet copy, the images are used to enhance the copy
//- for all mixins please reference mixins.project.jade

//- data-midnight="your-class"... your class = .blackPower... data-midnight='blackPower'

section.benefits.clearfix
	.wrapper.clearfix
		div.benefitZone.clearfix
			.benefit.bullet1.clearfix
				+benefitBullet042115a
			.benefit.bullet2.clearfix
				+benefitBullet042115a
			.benefit.bullet3.clearfix
				+benefitBullet042115a
			.benefit.bullet4.clearfix
				+benefitBullet042115a


////////////////////////////////////////////