////////////////////////////////////////////
// 		LATEST BLOG POSTS
/////////////////////////////////////////

//- for all mixins please reference mixins.project.jade

section(data-midnight='phaedraRedShade1').blogLatest
	.wrapper
		h2 Latest Blog Posts
		h3 This Is How The Internet Is Changing the Face of Business
		section.postPanel
			+postEntryTease042115a
			+postVideoTease042115a
			+postImgGalleryTease042115a
			+postEntryTease042115a

////////////////////////////////////////////