////////////////////////////////////////////
// 		CORE FEATURES
/////////////////////////////////////////

//- for all mixins please reference mixins.project.jade
//- the image gallery can be managed using jQuery where the thumbnails are displayed below and a default image is always shown in the main panel
//- where the thumbnails are located and shown... you will need a thumbnail version of each?

section(data-midnight='phaedraRedShade1').coreFeature1.clearfix
	.wrapper.clearfix
		div.flex
			section.imageGallery.clearfix
				.mainImage
					+imgLinkTemplate042315a('http://lorempixel.com/414/316','Main Image','#')
				.imagePanel
					+imgLinkTemplate042315a('http://lorempixel.com/47/47','Thumbnail','#')
					+imgLinkTemplate042315a('http://lorempixel.com/47/47','Thumbnail','#')
					+imgLinkTemplate042315a('http://lorempixel.com/47/47','Thumbnail','#')
					+imgLinkTemplate042315a('http://lorempixel.com/47/47','Thumbnail','#')
					+imgLinkTemplate042315a('http://lorempixel.com/47/47','Thumbnail','#')
					+imgLinkTemplate042315a('http://lorempixel.com/47/47','Thumbnail','#')
					+imgLinkTemplate042315a('http://lorempixel.com/47/47','Thumbnail','#')
					//- +imgInsertTemplate('http://lorempixel.com/47/47','Thumbnail')
					//- +imgInsertTemplate('http://lorempixel.com/47/47','Thumbnail')
					//- +imgInsertTemplate('http://lorempixel.com/47/47','Thumbnail')
					//- +imgInsertTemplate('http://lorempixel.com/47/47','Thumbnail')
					//- +imgInsertTemplate('http://lorempixel.com/47/47','Thumbnail')
					//- +imgInsertTemplate('http://lorempixel.com/47/47','Thumbnail')
					//- +imgInsertTemplate('http://lorempixel.com/47/47','Thumbnail')
			section.copy.clearfix
				h2 The Code Nitrous System
				h3 ...  Will Accelerate Your Business in The Long Run...
				p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Qui facere placeat rerum voluptate, voluptates minima, pariatur harum quibusdam commodi quae ullam non, blanditiis ipsa quam tenetur cupiditate sunt unde. Officia.
				p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quidem quaerat, sapiente alias iste repudiandae aspernatur temporibus possimus earum dolorem omnis harum labore sint, veritatis ab nobis suscipit quis modi, asperiores.
				ul.bullets.clearfix
					li Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deleniti, porro!
					li Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deleniti, porro!
					li Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deleniti, porro!
					li Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deleniti, porro!
					li Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deleniti, porro!

				+standardButton041415a('Free Consult','#','freeconsult','freeconsult')

////////////////////////////////////////////