////////////////////////////////////////////
// 		DEVICES
/////////////////////////////////////////

// written for the services.html page

section.devices1
	.wrapper
		//- you will need a flexbox that does align-items: flex-end for touching the bottom
		.copy
			h2 Optimized For All Devices
			p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Libero consectetur nam necessitatibus sed commodi blanditiis, optio laborum. Officiis soluta, quo.
			ul.bullets
				//- make this a display:block
				li Lorem ipsum dolor sit.
				li Lorem ipsum dolor sit.
				li Lorem ipsum dolor sit.
				li Lorem ipsum dolor sit.
			button Purchase
		img(src="http://lorempixel.com/350/350", alt="Lorem Picture Placeholder")

////////////////////////////////////////////
