////////////////////////////////////////////
// 		FEATURES
/////////////////////////////////////////

//- for all mixins please reference mixins.project.jade

section.features.clearfix
	//- set this section to position relative
	.imageShader
			//- the image will be absolutely positioned to shade the background image of section
	.wrapper.clearfix
		h2 Gain These Edges Over Your Competition
		h3 Not Everyone Can Deliver These The Way We Do
		//- align with flexbox
		.display.clearfix
			.left.clearfix
				+rightBullet042115a
				+rightBullet042115a
				+rightBullet042115a
				+rightBullet042115a
				+rightBullet042115a
			.center.clearfix
				div.frame.clearfix
					img(src="http://lorempixel.com/300/540", alt="Mobile Phone")
					.copy.clearfix
						h2 Create an "Iron Man" Website That Can Handle Anything
						h3 with SAMURAI Development and Ad Writing
						div.clearfix
							+standardButton041415a('Learn More','#','learnMore','learnMore')
							+standardButton041415a('Purchase','#','purchase','purchase')
			.right.clearfix
				+leftBullet042115a
				+leftBullet042115a
				+leftBullet042115a
				+leftBullet042115a
				+leftBullet042115a

////////////////////////////////////////////