////////////////////////////////////////////
// 		FEATURES
/////////////////////////////////////////

//- for all mixins please reference mixins.project.pug

section(data-midnight='blackShade1').features#featuresA1
	//- set this section to position relative
	.imageShader
			//- the image will be absolutely positioned to shade the background image of section... leave this outside of the .wrapper though it doesn't matter due to absolute position
	.wrapper
		h2 Gain These Edges Over Your Competition
		h3 Not Everyone Can Deliver These The Way We Do
		
		.display
			//- align with flexbox
			.left
				//- +rightBullet042115a
				//- +rightBullet042115a
				//- +rightBullet042115a
				//- +rightBullet042115a
				//- +rightBullet042115a

				+leftBullet042115a
				+leftBullet042115a
				+leftBullet042115a
				+leftBullet042115a
				+leftBullet042115a

			.center
				//- +featureImageCentre042315a
				//- img(src="http://lorempixel.com/300/540", alt="Mobile Phone")
				//- img(src="./images/superhero.website.png", alt="Mobile Phone", width='300',height='540')
				img(src="./images/superhero.website.png", alt="Mobile Phone")
				div.frame
					.copy
						//- +featureImageCopy042315a
						h2 Create an "Iron Man" Website That Can Handle Anything
						h3 with SAMURAI Development and Ad Writing
						div
							+standardButton041415a('Learn More','#','learnMore','')
							+standardButton041415a('Purchase','#','purchase','')
			.right
				//- +leftBullet042115a
				//- +leftBullet042115a
				//- +leftBullet042115a
				//- +leftBullet042115a
				//- +leftBullet042115a

				+rightBullet042115a
				+rightBullet042115a
				+rightBullet042115a
				+rightBullet042115a
				+rightBullet042115a

////////////////////////////////////////////