////////////////////////////////////////////
// 		FEATURES
/////////////////////////////////////////

section.features2
	.banner
		//- absolute position .banner to the top of the section
		h2 Huge Unlimited Features
	.wrapper
		+featureBlock042515a('fa-power-off','Development')
		+featureBlock042515a('fa-headphones','Clean Code')
		+featureBlock042515a('fa-trophy','Winner Design')
		+featureBlock042515a('fa-music','Bug Free Design')
		+featureBlock042515a('fa-key','Full Support')
		+featureBlock042515a('fa-bell','Endless Possibilities')

////////////////////////////////////////////