////////////////////////////////////////////
// 		FOOTER
/////////////////////////////////////////

//- for all mixins please reference mixins.project.jade
//- the .wrapper must be applied with each of the sections instead

section.footer#footer
	section.iconLinks
		.wrapper
			nav.siteNav
				ul.flex
					li
						a(href='#')
							span.fa.fa-home
						p.tag Home
					li
						a(href='#')
							span.fa.fa-pencil
						p.tag Work
					li
						a(href='#')
							span.fa.fa-user
						p.tag About
					li
						a(href='#')
							span.fa.fa-file-text-o
						p.tag News
					li
						a(href='#')
							span.fa.fa-envelope-o
						p.tag Contact
			div.logoBox
				+companyIcon042115a
			section.socialIconsNav
				+iconLink042315a('fa-facebook','#','Facebook')
				+iconLink042315a('fa-twitter','#','Twitter')
				+iconLink042315a('fa-google-plus','#','Google')
				+iconLink042315a('fa-dribbble','#','Dribble')
				+iconLink042315a('fa-tumblr','#','Tumblr')

	section.info
		.wrapper
			//- you will use ::before on the email, phone and address <p>
			section.aboutUs
				h2 About Us
				p.aboutSummary Emerald Six hands you cutting edge expertise in web development and direct response marketing that helps you maximize your bottom line.
				+linkTemplate042115a('hello@emeraldsix.com','mailto:hello@emeraldsix.com')
				.phone
					p P: 555-555-5555
				.address
					p 2 Bloor St West
					p Toronto, Ontario M9C 1X7

			section.usefulLinks
				h2 Useful Links
				//- flexbox will be used to wrap the items
				div
					ul.flex
						//- use ::before for the double chevron
						+linkTemplate033115a('Web Development','#')
						+linkTemplate033115a('About Emerald Six','#')
						+linkTemplate033115a('Mobile','#')
						+linkTemplate033115a('Why Emerald','#')
						+linkTemplate033115a('Direct Response Copywriting','#')
						+linkTemplate033115a('Social Media','#')
					ul.flex
						+linkTemplate033115a('Site Map','#')
						+linkTemplate033115a('Company','#')
						+linkTemplate033115a('Latest Jobs','#')
						+linkTemplate033115a('Partners','#')
						+linkTemplate033115a('Blog Posts','#')
						+linkTemplate033115a('Help Topics','#')
						+linkTemplate033115a('Policies','#')

			section.recentWork
				h2 Recent Work
				ul.portfolioThumbs
					+imgInsertTemplate('http://lorempixel.com/50/50','Portfolio Thumbnail Placeholder Image')
					+imgInsertTemplate('http://lorempixel.com/50/50','Portfolio Thumbnail Placeholder Image')
					+imgInsertTemplate('http://lorempixel.com/50/50','Portfolio Thumbnail Placeholder Image')
					+imgInsertTemplate('http://lorempixel.com/50/50','Portfolio Thumbnail Placeholder Image')
					+imgInsertTemplate('http://lorempixel.com/50/50','Portfolio Thumbnail Placeholder Image')
					+imgInsertTemplate('http://lorempixel.com/50/50','Portfolio Thumbnail Placeholder Image')
					+imgInsertTemplate('http://lorempixel.com/50/50','Portfolio Thumbnail Placeholder Image')
					+imgInsertTemplate('http://lorempixel.com/50/50','Portfolio Thumbnail Placeholder Image')
				//- use ::after for the double chevron pointer
				+linkTemplate042115a('View More','#')
				

			section.mailingList
				h2 Mailing List
				p Sign up for our mailing list to get the latest updates and offers.
				
				form(id="mailListForm042115", method="", action="")
					fieldset
						//- use ::after to place checkmark after input field using absolute positioning
						input(type='email' name='email' autofocus placeholder='Email address')
						a(href='#')
							span.fa.fa-check

				p.privacy We respect your privacy.
			
				section.socialIcons

					a(href='#')
						span(class='fa-facebook').fa
					a(href='#')
						span(class='fa-twitter').fa
					a(href='#')
						span(class='fa-linkedin').fa
					a(href='#')
						span(class='fa-skype').fa
					a(href='#')
						span(class='fa-pinterest-square').fa
					a(href='#')
						span(class='fa-apple').fa

	section.copyright
		.wrapper
			nav.copyright
				+linkTemplate042115a('Home','index.html')
				+linkTemplate042115a('About','#')
				+linkTemplate042115a('Services','services.html')
				+linkTemplate042115a('Portfolio','portfolio.html')
				+linkTemplate042115a('Blog','#')
				+linkTemplate042115a('Contact','#')
			div.trademark
				p &copy; Emerald Six

////////////////////////////////////////////