////////////////////////////////////////////
// 		PORTFOLIO
/////////////////////////////////////////

//- for all mixins please reference mixins.project.jade

//- data-midnight="your-class"... your class = .blackPower... data-midnight='blackPower'

section(data-midnight='blackShade1').portfolio
	.wrapper
		h2 Portfolio
		p Striking Design and Power For Your Advertising and Message
		div.portfolioGallery
			+portfolioBlock042115a
			+portfolioBlock042115a
			+portfolioBlock042115a
			+portfolioBlock042115a
			+portfolioBlock042115a
			+portfolioBlock042115a


////////////////////////////////////////////