////////////////////////////////////////////
// 		PORTFOLIO
/////////////////////////////////////////

//- for all mixins please reference mixins.project.jade

section.portfolio.clearfix
	.wrapper.clearfix
		h2 Portfolio
		p Striking Design and Power For Your Advertising and Message
		+portfolioBlock042115a
		+portfolioBlock042115a
		+portfolioBlock042115a
		+portfolioBlock042115a
		+portfolioBlock042115a
		+portfolioBlock042115a


////////////////////////////////////////////