////////////////////////////////////////////
// 		PORTFOLIO - 2 COLUMNS
/////////////////////////////////////////

// for portfolio.pug
// for portfolio.html

//- for all mixins please reference mixins.project.pug

//- data-midnight="your-class"... your class = .blackPower... data-midnight='blackPower'

//- ===================================
//- 		VARIABLES
//- ===================================

//- END VARIABLES

section(data-midnight='blackShade1').portfolio#portfolio2col
	.wrapper
		//- h2 Portfolio
		//- p Striking Design and Power For Your Advertising and Message
		+portfolioNavigation042515a
		div.portfolioGallery
			//- +portfolioBlock042115a
			//- +portfolioBlock042115a
			//- +portfolioBlock042115a
			//- +portfolioBlock042115a
			//- +portfolioBlock042115a
			//- +portfolioBlock042115a
			//- +portfolioBlock042115a
			//- +portfolioBlock042115a
			
			+portfolioBlock042615b('fashion','./images/olivera.note.fashion.png','Olivera Note','Fashion')
			+portfolioBlock042615b('photography','http://lorempixel.com/280/200','Shift Magazine','Photography')
			+portfolioBlock042615b('webdesign','./images/camp.pine.webdesign.png','Camp Pine Tree','Web Design')
			+portfolioBlock042615b('photography','./images/freeart.photography.png','Free Art App Design','Photography')
			+portfolioBlock042615b('marketing','./images/large.poster.marketing.png','Free Art App Design','Photography')
			+portfolioBlock042615b('business','./images/skilet.business.png','Skilet Album Cover','Business')
			+portfolioBlock042615b('animated','./images/table.rocket.animated.png','Table Rocket','Animated')
			+portfolioBlock042615b('photography','./images/lowpoly.social.photography.png','LowPoly Social','Photography')

////////////////////////////////////////////