////////////////////////////////////////////
// 		PORTFOLIO
/////////////////////////////////////////

//- for all mixins please reference mixins.project.pug

//- data-midnight="your-class"... your class = .blackPower... data-midnight='blackPower'

section(data-midnight='blackShade1').portfolio#portfolio
	.wrapper
		h2 Portfolio
		p Striking Design and Power For Your Advertising and Message
		div.portfolioGallery
			//- +portfolioBlock042115a
			//- +portfolioBlock042115a
			//- +portfolioBlock042115a
			//- +portfolioBlock042115a
			//- +portfolioBlock042115a
			//- +portfolioBlock042115a

			+portfolioBlock042615a('fashion','./images/olivera.note.fashion.png','Olivera Note','Fashion')
			+portfolioBlock042615a('photography','http://lorempixel.com/280/200','Shift Magazine','Photography')
			+portfolioBlock042615a('webdesign','./images/camp.pine.webdesign.png','Camp Pine Tree','Web Design')
			+portfolioBlock042615a('photography','./images/freeart.photography.png','Free Art App Design','Photography')
			+portfolioBlock042615a('marketing','./images/large.poster.marketing.png','Free Art App Design','Photography')
			+portfolioBlock042615a('business','./images/skilet.business.png','Skilet Album Cover','Business')
			+portfolioBlock042615a('animated','./images/table.rocket.animated.png','Table Rocket','Animated')
			+portfolioBlock042615a('photography','./images/lowpoly.social.photography.png','LowPoly Social','Photography')


////////////////////////////////////////////