////////////////////////////////////////////
// 		PORTFOLIO - 2 COLUMNS
/////////////////////////////////////////

// for portfolio.jade
// for portfolio.html

//- for all mixins please reference mixins.project.jade

//- data-midnight="your-class"... your class = .blackPower... data-midnight='blackPower'

//- ===================================
//- 		VARIABLES
//- ===================================

//- END VARIABLES

section(data-midnight='blackShade1').portfolio#portfolio2col
	.wrapper
		//- h2 Portfolio
		//- p Striking Design and Power For Your Advertising and Message
		+portfolioNavigation042515a
		div.portfolioGallery
			+portfolioBlock042115a
			+portfolioBlock042115a
			+portfolioBlock042115a
			+portfolioBlock042115a
			+portfolioBlock042115a
			+portfolioBlock042115a
			+portfolioBlock042115a
			+portfolioBlock042115a


////////////////////////////////////////////