////////////////////////////////////////////
// 		PREMIUM WORDPRESS THEME 042115
/////////////////////////////////////////

//- for all mixins please reference mixins.project.jade

- var unClass042115 = 'premiumWPTheme042115';
- var wpPersonImg042115 = 'http://lorempixel.com/600/600';
- var wpPersonImgAlt042115 = 'WordPress Gal'
- var wpHeadline042115 = 'Premium WordPress Theme';
- var wpSubHead042115 = 'Geared Toward Attracting Your Ideal Customer';

+productTease042115a(unClass042115,wpHeadline042115,wpSubHead042115,wpPersonImg042115,wpPersonImgAlt042115)

////////////////////////////////////////////