////////////////////////////////////////////
// 		PREMIUM WORDPRESS THEME 042115
/////////////////////////////////////////

//- for all mixins please reference mixins.project.jade
//- for variables used as args see the variables.global.jade file

+productTease042115a(unClass042115,dataType,wpHeadline042115,wpSubHead042115,wpPersonImg042115,wpPersonImgAlt042115)

////////////////////////////////////////////