////////////////////////////////////////////
// 		PRICING
/////////////////////////////////////////

//- pricing tables, for services
//- for all mixins please reference mixins.project.jade

section(data-midnight='blackShade1').pricing#pricing
	.wrapper
		h2 Web Development and Advertising Packages
		h3 There's a package for your situation.
		section.tables
			+pricingTable042115a('Standard','69')
			+pricingTable042115a('Premium','79','popularClass')
			+pricingTable042115a('Ultimate','89')

////////////////////////////////////////////