////////////////////////////////////////////
// 		PROOF ELEMENT SECTION 1
/////////////////////////////////////////

//- this is for services.jade

section(data-midnight='phaedraGreen3Shade1').proofElement1
	.imgShader
		//- this is optional, could be used as a semi-transparent mask
	.wrapper
		//- make the img a block or inline block
		.imageHolder
			//- img(src="http://lorempixel.com/500/300", alt="Lorem Image Placeholder")
			img(src="./images/new.big.thing.png", alt="Lorem Image Placeholder")
		.copy
			//- for the icons you could use ::before or you can use span.fa, both can work
			div
				h2 Get to know where we live
				p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odit iste assumenda earum, impedit quos sunt incidunt odio possimus blanditiis veritatis.
			div
				h2 Experience the Huge Difference
				p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odit iste assumenda earum, impedit quos sunt incidunt odio possimus blanditiis veritatis.
			div
				h2 Voted Best of 2015
				p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odit iste assumenda earum, impedit quos sunt incidunt odio possimus blanditiis veritatis.



////////////////////////////////////////////