////////////////////////////////////////////
// 		SERVICES BULLETS DISPLAY
/////////////////////////////////////////

//- see services.jade

section.servicesShowCase1
	.wrapper
		ul.servicesShowCase1
			+serviceBullet042515b('fa-eye','Retina Ready')
			+serviceBullet042515b('fa-thumbs-o-up','Modern Design')
			+serviceBullet042515b('fa-star-o','Weekly Updates')
			+serviceBullet042515b('fa-shopping-cart','WooCommerce')

////////////////////////////////////////////