////////////////////////////////////////////
// 		SERVICES OFFERED 1
/////////////////////////////////////////

//- this is for the services.pug file
//- see

section(data-midnight='blackShade1').servicesOffer1
	.wrapper
		+servicesOffer042515a
		+servicesOffer042515a

////////////////////////////////////////////