////////////////////////////////////////////
// 		SERVICES DISPLAY PANEL 1
/////////////////////////////////////////

//- for services.pug

section(data-midnight='blackShade1').serviceDisplay1
	.wrapper
		h2 Our Best Services
		h3 Lorem ipsum dolor sit.
		div.panel
			+serviceDisplayUnit042515a('EMERALD SIX is the Leading Business Logic Agency')
			+serviceDisplayUnit042515a('Clean and Smooth Works')
			+serviceDisplayUnit042515a('Crafted with Love')
			+serviceDisplayUnit042515a('Always There to Help You')
			+serviceDisplayUnit042515a('High Quality Designs')
			+serviceDisplayUnit042515a('What is EMERALD SIX')

////////////////////////////////////////////