////////////////////////////////////////////
// 		SMOOTH SCROLLING
/////////////////////////////////////////

// for the services.html page
//- see the services.jade file

section.smoothScrollProduct1
	//- set a background image that is not wrapped
	.copy
		//- use flexbox to centre .copy
		//- you'll need to set a certain width to .copy
		h2 Smooth Scrolling
		p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vero ullam cum, nulla dolorem voluptatum ad repudiandae animi beatae eius soluta, illo id et dolore harum suscipit, velit corporis, odio qui!
		a(href="#") Purchase Now

////////////////////////////////////////////