////////////////////////////////////////////
// 		STAFF
/////////////////////////////////////////

//- for all mixins please reference mixins.project.jade

section(data-midnight='blackShade1').staff.clearfix
	.wrapper.clearfix
		h2 The "Crack" Team of Nitro-Specialists
		h3 You'll Smile As They Work Their Magic
		section.staffPanel
			+staffBlock042115a('Dave Martin',basicStaffTitle,basicStaffText,basicStaffPic,basicAltText,'#','#','#')
			+staffBlock042115a('Reena Scott',basicStaffTitle,basicStaffText,basicStaffPic,basicAltText,'#','#','#')
			+staffBlock042115a('Jennifer White',basicStaffTitle,basicStaffText,basicStaffPic,basicAltText,'#','#','#')
			+staffBlock042115a('Paul Smith',basicStaffTitle,basicStaffText,basicStaffPic,basicAltText,'#','#','#')

////////////////////////////////////////////