////////////////////////////////////////////
// 		TITLE BLOCK
/////////////////////////////////////////

// right under the nav menu at the top

//- the image shader could be named div.outer... it can be outside the wrapper
//- for all mixins please reference mixins.project.jade

section.titleBlock.clearfix
	.imageShader
		//- for applying a coloured layer mask
	.wrapper.clearfix
		.outer
			h1 Spartan Web Development That Boosts Your Bottom Line
			h2 Toronto Web Developer With Ad Writing Experience Gives You An Unfair Advantage
			span.fa.fa-angle-down

////////////////////////////////////////////
