////////////////////////////////////////////
// 		TITLE BLOCK - SERVICES
/////////////////////////////////////////

// right under the nav menu at the top
// for portfolio.html

//- the image shader could be named div.outer... it can be outside the wrapper
//- for all mixins please reference mixins.project.pug

section(data-midnight='phaedraGreen3Shade1').titleBlock#titlePortfolio2col
	//- set this to position relative
	.imageShader
		//- for applying a coloured layer mask...  set this as position absolute
	.wrapper
		.outer
			.copy
				h1 Services
				h2 Helping You Realize Your Business Dream In A Connected World
				//- h2 Toronto Web Developer With Ad Writing Experience Gives You An Unfair Advantage
				//- a(href="#benefits",id='moveDown',class='moveDown')
				//- 	span.fa.fa-angle-down

////////////////////////////////////////////
