////////////////////////////////////////////
// 		TITLE BLOCK
/////////////////////////////////////////

// right under the nav menu at the top

//- the image shader could be named div.outer... it can be outside the wrapper
//- for all mixins please reference mixins.project.pug

section(data-midnight='phaedraGreen3Shade1').titleBlock#titleBlock
	//- set this to position relative
	.imageShader
		//- for applying a coloured layer mask...  set this as position absolute
	.wrapper
		.outer
		.copy
			h1 Spartan Web Development That 
				span.pulseRed Boosts Your Bottom Line
			h2 One-Two Web Development &amp; Ad Writing "Punch" Gives You An 
				span.pulseRed Unfair Advantage
			a(href="#benefits",id='moveDown',class='moveDown')
				span.fa.fa-angle-down

////////////////////////////////////////////
