//- ===================================
//- 		GLOBAL VARIABLES
//- ===================================

//- variables I want to be able to access in any part of the project code


//- ===================================
//- 		STAFF
//- ===================================

- var basicStaffTitle = 'Founder';
- var basicStaffText = 'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ullam asperiores, nisi iure nesciunt vero libero reiciendis quis mollitia ab nam aperiam obcaecati dolore ducimus aut tenetur, consequuntur, velit dolores commodi.';
- var basicStaffPic = 'http://lorempixel.com/128/128';
- var basicAltText = 'Placeholder Portrait'

//- END STAFF


//- END VARIABLES