//- ===================================
//- 		GLOBAL VARIABLES
//- ===================================

//- variables I want to be able to access in any part of the project code


//- ===================================
//- 		STAFF
//- ===================================

- var basicStaffTitle = 'Founder';
- var basicStaffText = 'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ullam asperiores, nisi iure nesciunt vero libero reiciendis quis mollitia ab nam aperiam obcaecati dolore ducimus aut tenetur, consequuntur, velit dolores commodi.';
- var basicStaffPic = 'http://lorempixel.com/128/128';
- var basicAltText = 'Placeholder Portrait'

//- END STAFF

//- ===================================
//- 		PREMIUM WORDPRESS THEME 042115
//- ===================================

- var unClass042115 = 'premiumWPTheme042115';
- var dataType = 'blackShade1';
//- - var wpPersonImg042115 = 'http://lorempixel.com/600/600';
- var wpPersonImg042115 = './images/woman.wp.theme.png';
- var wpPersonImgAlt042115 = 'WordPress Gal'
- var wpHeadline042115 = 'Premium WordPress Theme';
- var wpSubHead042115 = 'Geared Toward Attracting Your Ideal Customer';

//- END PREMIUM WORDPRESS THEME 042115


//- END VARIABLES